.centered-content {
    margin: 0 auto;
    height: 100vh;
    max-width: calc(100% - 6rem);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    @include breakpoint($tablet) {
        max-width: 40%;
    }
    &__logo {
        svg {
            fill: currentColor;
        }
    }
    &__vertical-rule {
        margin: 1.25rem auto;
        width: 2px;
        height: 5rem;
        background-color: $sand;
        @include breakpoint($tablet){
            height: 3rem;
        }
    }
}