.centered-content {
    margin: 0 auto;
    height: 100vh;
    max-width: 80%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding-bottom: 3rem;
    @include breakpoint($laptop) {
        max-width: 40%;
        padding-bottom: 0;
    }
    &__logo {
        svg {
            fill: currentColor;
        }
    }
    &__vertical-rule {
        margin: 1.25rem auto;
        width: 2px;
        height: 3rem;
        background-color: $sand;
        @include breakpoint($laptop){
            height: 3rem;
        }
    }
}