.footer {
    margin: 0 auto;
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;

    
    svg {
        height: 1.5rem;
        fill: currentColor;
    }
}