.header {
    margin: 0 auto;
    width: 100%;
    padding: 2rem;
    position: absolute;
    top: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    &__rule {
        height: 1.75px;
        background-color: $sand;
        flex-grow: 1;
        margin: 0 0.75rem;
    }

    svg {
        height: .85rem;
        fill: currentColor;
        @include breakpoint($laptop) {
            height: 1rem;
        }
    }
}