html, body, div, span, applet, object, iframe,
h1, h2, h3, h5, h6, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

* {
  box-sizing: border-box;
}

/*
* Web Fonts from colophon-foundry.org
*
* The fonts included in this stylesheet are subject to the End User License you purchased
* from Colophon Foundry. The fonts are protected under domestic and international trademark and
* copyright law. You are prohibited from modifying, reverse engineering, duplicating, or
* distributing this font software.
*
* (c) 2023 Colophon Foundry
*
* Licenced to Laine Hester, Stitch Design Co.
*/
@font-face {
  font-family: "Fortescue";
  src: url("../assets/fonts/fortescue-text-regular-pro.woff2") format("woff2"), url("../assets/fonts/fortescue-text-regular-pro.woff") format("woff"), url("../assets/fonts/fortescue-text-regular-pro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smooth: auto;
  font-size: 100%;
}

body {
  color: #E0DBD3;
  line-height: 1.25;
  font-smooth: antialiased;
}

.h1__serif {
  font-family: "Fortescue", serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.01rem;
}
@media (min-width: 960px) {
  .h1__serif {
    font-size: 1.125rem;
  }
}

.h2__serif {
  font-family: "Fortescue", serif;
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}
@media (min-width: 960px) {
  .h2__serif {
    font-size: 1.125rem;
  }
}
.h2__sans {
  font-family: "franklin-gothic-atf", sans-serif;
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}
@media (min-width: 960px) {
  .h2__sans {
    font-size: 1.125rem;
  }
}

.h3__sans {
  font-family: "franklin-gothic-atf", sans-serif;
  font-size: 0.625rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}
@media (min-width: 960px) {
  .h3__sans {
    font-size: 0.75rem;
  }
}

/*
* Web Fonts from colophon-foundry.org
*
* The fonts included in this stylesheet are subject to the End User License you purchased
* from Colophon Foundry. The fonts are protected under domestic and international trademark and
* copyright law. You are prohibited from modifying, reverse engineering, duplicating, or
* distributing this font software.
*
* (c) 2023 Colophon Foundry
*
* Licenced to Laine Hester, Stitch Design Co.
*/
@font-face {
  font-family: "Fortescue";
  src: url("../assets/fonts/fortescue-text-regular-pro.woff2") format("woff2"), url("../assets/fonts/fortescue-text-regular-pro.woff") format("woff"), url("../assets/fonts/fortescue-text-regular-pro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
html, body {
  margin: 0;
  height: 100%;
  width: 100%;
  background: #6C6E60;
  background-image: url("../assets/photos/Ellery_Background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  color: #E0DBD3;
  overflow: hidden;
  text-align: center;
}
html ::selection, body ::selection {
  background: #E0DBD3;
  color: #6C6E60;
}

a {
  text-decoration: none;
  color: #E0DBD3;
}

.header {
  margin: 0 auto;
  width: 100%;
  padding: 2rem;
  position: absolute;
  top: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.header__rule {
  height: 1.75px;
  background-color: #E0DBD3;
  flex-grow: 1;
  margin: 0 0.75rem;
}
.header svg {
  height: 0.85rem;
  fill: currentColor;
}
@media (min-width: 960px) {
  .header svg {
    height: 1rem;
  }
}

.centered-content {
  margin: 0 auto;
  height: 100vh;
  max-width: 75%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
@media (min-width: 960px) {
  .centered-content {
    max-width: 40%;
  }
}
.centered-content__logo svg {
  fill: currentColor;
}
.centered-content__vertical-rule {
  margin: 1.25rem auto;
  width: 2px;
  height: 5rem;
  background-color: #E0DBD3;
}
@media (min-width: 960px) {
  .centered-content__vertical-rule {
    height: 3rem;
  }
}

.footer {
  margin: 0 auto;
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
}
.footer__copy {
  flex-grow: 1;
}
@media (min-width: 960px) {
  .footer__copy {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
  }
}
.footer svg {
  height: 1.5rem;
  fill: currentColor;
}
.footer svg:first-of-type {
  height: 1.725rem;
}
