html {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: auto;
    font-size: 100%;
} /* 10pt / 13.34px */


body {
   color: $sand;
   line-height: 1.25;
   font-smoothing: antialiased; 
}

// .h1 {
//     font-size: $h1_mobile;
//     font-family: $serif;
//     font-style: normal;
//     font-weight: 600;
//     line-height: 1.333;
//     margin-bottom: 1em;
//     @include breakpoint($laptop) {
//         font-size: clamp($h2, 5vw, $h1);
//     }
// }

.h2 {
    &__serif {
        font-family: $serif;
        font-size: $h2_mobile;
        font-style: normal;
        font-weight: 400;
        text-transform: uppercase;
        @include breakpoint($laptop) {
            font-size: $h2;
        }
    }
    &__sans {
        font-family: $sans;
        font-size: $h2_mobile;
        font-style: normal;
        font-weight: 400;
        text-transform: uppercase;
        @include breakpoint($laptop) {
            font-size: $h2;
        }
    }
}

.h3 {
    font-size: $h3_mobile;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    &__serif {
        font-family: $serif;
    }
    &__sans {
        font-family: $sans;
    }
    @include breakpoint($laptop) {
        font-size: $h3;
    }
}